
<div class="card-list-container py-5">
  <% movies.each do |movie| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to movie_path(movie.id) do %>
      <%= attachment_image_tag movie, :movie_image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
       <p class="card-title">
        <%= attachment_image_tag movie.user, :profile_image, :fill, 45, 45, fallback: "no_image.jpg", class:"rounded-circle"; %>
        <%= link_to(user_path(movie.user.id), class:"text-dark") do %>
          <span>
            <font size="5"><strong><%= movie.user.name %></strong></font>
          </span>
          <% end %>

          <div class="inbox">
          <span class="flex-left"><i class="fa fa-comment"></i> <%= link_to "#{movie.movie_comments.count}", movie_path(movie.id), class:"text-dark" %> ｜ </span>

          <% if movie.favorited_by?(current_user) %>
          <span class="flex-right">
            <%= link_to(movie_favorites_path(movie), class:"text-dark", method: :delete) do %>
              <i class="fas fa-heart" aria-hidden="true"></i> <%= movie.favorites.count %>
            <% end %>
          </span>
          <% else %>
          <span>
            <%= link_to(movie_favorites_path(movie), class:"text-dark" "text-right", method: :post) do %>
              <i class="far fa-heart" aria-hidden="true"></i> <%= movie.favorites.count %>
            <% end %>
          </span>
        <% end %>
        </div>

        </p>

        <div class="col-10">
          <p class="card-title">
            <%= link_to(movie_path(movie.id), class:"text-dark") do %>
              <strong><i class="far fa-file-video"></i><span> <%= movie.title %></span></strong>
            <% end %>
          </p>
          <div class="star_<%= movie.id %>"></div>
          <p class="card-text">Note：<%= movie.body %></p>
          <span><i class="fas fa-user"></i> By <%= movie.user.name %> ｜ </span>
          <span><%= link_to "#{movie.movie_comments.count} Comment", movie_path(movie.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
 </div>

  <script>
    $('.star_<%= movie.id %>').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    score: <%= movie.star %>,
    readOnly: true,
    half: true
    });
  </script>
<% end %>

