<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= attachment_image_tag @movie, :movie_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            <%= attachment_image_tag @movie.user, :profile_image, :fill, 45, 45, fallback: "no-image.jpg", class:"rounded-circle" %>
            <%= link_to(user_path(@user.id), class:"text-dark") do %>
            <span>
              <font size="5"><strong><%= @movie.user.name %></strong></font>
            </span>
            <% end %>
          </p>
          <p class="card-title">
            <%= link_to(movie_path(@movie.id), class:"text-dark") do %>
              <strong><i class="far fa-file-video"></i><span> <%= @movie.title %></span></strong>
            <% end %>
          </p>
          <p class="card-title">Note：<%= @movie.body %></p>
          <span><i class="fas fa-user"></i> By <%= @movie.user.name %> ｜ </span>
          <span><i class="fa fa-calendar"></i> <%= @movie.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fa fa-comment"></i> <%= link_to "#{@movie.movie_comments.count}", movie_movie_comments_path(movie_id: @movie.id), class:"text-dark" %> ｜ </span>
          <% if @movie.favorited_by?(current_user) %>
            <span>
              <%= link_to(movie_favorites_path(@movie), class:"text-dark", method: :delete) do %>
                <i class="fas fa-heart" aria-hidden="true"></i> <%= @movie.favorites.count %>
              <% end %>
            </span>
            <% else %>
            <span>
              <%= link_to(movie_favorites_path(@movie), class:"text-dark", method: :post) do %>
                <i class="far fa-heart" aria-hidden="true"></i> <%= @movie.favorites.count %>
              <% end %>
            </span>
          <% end %>
          <% if @movie.user == current_user %>
            <span> ｜ </span><%= link_to "Delete", movie_path(@movie), class:"text-dark", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>