<h2>Follower Users</h2>
<table class="table table-hover table-inverse">
<% if @followers.exists? %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Follow</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td>
          <%= attachment_image_tag follower, :profile_image, :fill, 40, 40, fallback: "no-icon.jpeg", class:"my-1 rounded-circle" %>
          <span><strong><%= follower.name %></strong></span>
        </td>
        <td><%= follower.followings.count %></td>
        <td><%= follower.followers.count %></td>
        <td><%= link_to "Show", user_path(follower), class: "btn btn-info pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No users</p>
<% end %>
